<div class="jumbotron">

	<h1>Kyle Getty's portfolio</h1>
		<p>This is my portfolio where I showcase my private projects and where people can leanr a little bit more about me.</p>

	
		<p><a class= "btn btn-primary btn-lg">Projects</a></p>

</div>


