<h1> This is my projects page</h1>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src=".." alt="default.jpg">
      <div class="caption">
        <h3>Todo App</h3>
        <p>This is a simple todo app created using Ruby on Rails</p>
        <p><a href="https://github.com/kylegetty/todoapp" class="btn btn-primary" role="button">Button</a> 
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>EtsyDemo</h3>
        <p>This is a simple 2 party marketplace that I am building</p>
        <p><a href="https://github.com/kylegetty/estydemo" class="btn btn-primary" role="button">Button</a> 
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Bookstore</h3>
        <p>This is a online bookstore site</p>
        <p><a href="https://github.com/kylegetty/bookstore" class="btn btn-primary" role="button">Button</a> 
      </div>
    </div>
  </div>
</div>

